@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --cor001:#312b31;
    --cor002:#303e42;
    --cor003:#94A6A2;
    --cor004:#E2E3DD;
    --cor005:#BF8F36;

    --fonte001: Arial, Helvetica, sans-serif;
    --fonte002:'Sriracha', cursive;
    --fonte003:'Righteous', cursive;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor004);
    font-family: var(--fonte001);
    min-height: 100vh;
}



header{
    height: 210px;
    background-color: #312b31;

}
    header > h1{
        color:var(--cor005);
        text-align: center;
        font-family: var(--fonte003);
        font-size: 3.5em;
        font-weight: bolder;
        padding-top: 40px;
        margin-bottom: 0px;
        text-shadow: 1px 1px 0px black;
        
}

header > p{
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;    
}

a{
    font-weight: bold;
    text-decoration: none;

}

a:hover{
    color: var(--cor004);
    text-decoration: underline;
}

a:visited{
    color:var(--cor004)
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 1.5em;
    color: var(--cor002);
    font-family: var(--fonte002);
}

.imagem > p{
    margin-left: 30px;
    padding-left: 10px;
    padding-bottom: 2em;
    width: 350px;
    color: var(--cor004);
    background-color: #bf8f369f;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.733);
    box-shadow: 6px 6px 13px 0px black;
}

.normal > p{
    margin-left: 30px;
    padding-left: 10px;
    padding-bottom: 2em;
}
#img001{
    background-image: url('../imagens/folhas.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#img002{
    background-image: url('../imagens/relogios01.jpg');
    background-size: cover;
    background-attachment: fixed;
}
footer{
    padding: 5px;
    background-color: var(--cor001);
    text-align: center;
    color: var(--cor004);
}